<table>
  <tr>
    <td><%= session[:game].board.board[0]%></td>
    <td><%= session[:game].board.board[1]%></td> 
    <td><%= session[:game].board.board[2]%></td>
  </tr>
  <tr>
    <td><%= session[:game].board.board[3]%></td>
    <td><%= session[:game].board.board[4]%></td> 
    <td><%= session[:game].board.board[5]%></td>
  </tr>
  <tr>
    <td><%= session[:game].board.board[6]%></td>
    <td><%= session[:game].board.board[7]%></td> 
    <td><%= session[:game].board.board[8]%></td>
  </tr>
</table>

<form action="p2">
<input type="text" name="p1move">
</form>