<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<link rel="stylesheet" href="p1.css">
<div id="b" class="boardleft">
<form method ="post" action = "p1human" <%= session[:p1human] %>>
  <table class="center">
    <tr>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="1 <%=session[:game].board.board[0]%>"><%=session[:game].board.board[0]%></button></td>
      <td class="square v fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="2 <%=session[:game].board.board[1]%>"><%=session[:game].board.board[1]%></button></td>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="3 <%=session[:game].board.board[2]%>"><%=session[:game].board.board[2]%></button></td>
    </tr>
    <tr>
      <td class="square h fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="4 <%=session[:game].board.board[3]%>"><%=session[:game].board.board[3]%></button></td>
      <td class="square v h fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="5 <%=session[:game].board.board[4]%>"><%=session[:game].board.board[4]%></button></td>
      <td class="square h fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="6 <%=session[:game].board.board[5]%>"><%=session[:game].board.board[5]%></button></td>
    </tr>
    <tr>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="7 <%=session[:game].board.board[6]%>"><%=session[:game].board.board[6]%></button></td>
      <td class="square v fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="8 <%=session[:game].board.board[7]%>"><%=session[:game].board.board[7]%></button></td>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="9 <%=session[:game].board.board[8]%>"><%=session[:game].board.board[8]%></button></td>
    </tr>
  </table>
</form>
<form action="p2" <%= session[:p1human] == "text" ? "hidden " : "text" %>>
  <table class="center">
    <tr>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="1 <%=session[:game].board.board[0]%>"><%=session[:game].board.board[0]%></button></td>
      <td class="square v fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="2 <%=session[:game].board.board[1]%>"><%=session[:game].board.board[1]%></button></td>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="3 <%=session[:game].board.board[2]%>"><%=session[:game].board.board[2]%></button></td>
    </tr>
    <tr>
      <td class="square h fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="4 <%=session[:game].board.board[3]%>"><%=session[:game].board.board[3]%></button></td>
      <td class="square v h fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="5 <%=session[:game].board.board[4]%>"><%=session[:game].board.board[4]%></button></td>
      <td class="square h fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="6 <%=session[:game].board.board[5]%>"><%=session[:game].board.board[5]%></button></td>
    </tr>
    <tr>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="7 <%=session[:game].board.board[6]%>"><%=session[:game].board.board[6]%></button></td>
      <td class="square v fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="8 <%=session[:game].board.board[7]%>"><%=session[:game].board.board[7]%></button></td>
      <td class="square fade"><button name ="p1humanmove" class="square tttbutton" type="submit" value="9 <%=session[:game].board.board[8]%>"><%=session[:game].board.board[8]%></button></td>
    </tr>
  </table>
</form>
</div>