<link rel="stylesheet" href="style.css">
<table>
  <tr>
    <td class="square"><%= session[:game].board.board[0]%></td>
    <td class="square v"><%= session[:game].board.board[1]%></td> 
    <td class="square"><%= session[:game].board.board[2]%></td>
  </tr>
  <tr>
    <td class="square h"><%= session[:game].board.board[3]%></td>
    <td class="square v h"><%= session[:game].board.board[4]%></td> 
    <td class="square h"><%= session[:game].board.board[5]%></td>
  </tr>
  <tr>
    <td class="square"><%= session[:game].board.board[6]%></td>
    <td class="square v"><%= session[:game].board.board[7]%></td> 
    <td class="square"><%= session[:game].board.board[8]%></td>
  </tr>
</table>

<form action="p2">
<input type="text" name="p1move">
</form>